<style type="text/css">
    p {
        text-indent: 2em;
    }

    .t_4e {
        text-indent: 4em;
    }
</style>
<h4>Hi {{operator | ad2name}}：</h4>
<p>{{change.system}} {{change.version}} 变更申请[{{change.change_type}}]，等待您的操作：<a href="{{link}}">{{link}}</a></p>
<p>详细信息如下：</p><br>
<p><strong>1.申请上线版本： </strong>{{change.system}} {{change.version}}</p>
<p><strong>2.线上问题描述: </strong>{{change.problem_desc}}</p>
<p><strong>3.变更内容描述: </strong>{{change.content_desc}}</p>
<p><strong>4.变更执行风险描述: </strong>{{change.risk_desc}}</p>
<p><strong>5.目标上线时间：</strong>{{change.plan_time | utc2local}}</p>
<p><strong>6.申请人：</strong>{{change.creator | ad2name}} <strong>审批人：</strong>{{change.approver| ad2name}}</p>
<p><strong>7.相关其他干系人：</strong></p>
<p class="t_4e">开发 - {{change.dev | ad2name}}</p>
<p class="t_4e">运维 - {{change.ops | ad2name}}</p>
<p class="t_4e">测试 - {{change.qa | ad2name}}</p>
<br>
<br>
<p>本邮件由Dalmore系统自动发出， 请勿直接回复该邮件。 任何意见或者建议，请联系工程效率团队。</p>