<style type="text/css">
    p {
        text-indent: 2em;
    }

    .t_4e {
        text-indent: 4em;
    }
</style>
<h4>Hi all：</h4>
<p>{{deploy.system}} {{deploy.version}} 上线完成， 上线记录见：<a href="{{link}}">{{link}}</a></p>
<p>上线内容如下：</p><br>
<p>{{deploy.content}}</p>
<p><strong>相关干系人：</strong></p>
<p class="t_4e">审核 - {{deploy.approver | ad2name}}</p>
<p class="t_4e">开发 - {{deploy.dev | ad2name}}</p>
<p class="t_4e">运维 - {{deploy.ops | ad2name}}</p>
<p class="t_4e">测试 - {{deploy.qa | ad2name}}</p>
<br>
<br>
<p>  本邮件由Dalmore系统自动发出， 请勿直接回复该邮件。 任何意见或者建议，请联系工程效率团队。</p>